<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
  <mirrors>
    <mirror>
      <id>dynatrace-artifactory-central</id>
      <name>Dynatrace Artifactory Maven Central Mirror</name>
      <url>https://lnz-artifactory-cache.lab.dynatrace.org/artifactory/repo1/</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>
</settings>
